@model IEnumerable<Garage2._0.Models.Member>

@{
    ViewBag.Title = "Members";
}

<br />

<div class="well">
    <h2>List of Members</h2>

    @using (Html.BeginForm("Index", "Members", FormMethod.Get))
    {
        <b> Search Option: </b> <br /> @Html.RadioButton("option", "MembershipNr") <text>Membership Number</text> <br /> @Html.RadioButton("option", "Name") <text> Member Name </text> <br />
        @Html.TextBox("search") <input type="submit" name="submit" value="Search" class="btn btn-info" />
    }

    <br />

    <p>
        @Html.ActionLink("Register A New Member", "Create", null, new { @class = "btn btn-danger btn-large" })
    </p>

    <p>
        @ViewBag.Message
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MembershipNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegDate)
            </th>
            <th>
                Number of Vehicles Parked in The Garage
            </th>
            <th></th>
        </tr>

        @{int i = 0;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MembershipNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegDate)
                </td>
                <td>
                    @ViewBag.TotalCarsForEachMember[i]
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MemberId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MemberId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MemberId })
                </td>
            </tr>

            i++;
        }

    </table>
</div>
