@model IEnumerable<Garage2._0.Models.Vehicle>

@{
    ViewBag.Title = "AdvOverview";
}

<h2>AdvOverview</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfTires)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkingSpaceNum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckInTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfTires)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkingSpaceNum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@

    @{ 
       
            var rows = ViewBag.Capacity / 5;
            int index = 0;
        <p>Capacity: @Html.ViewBag.Capacity</p>
            <table>
                    @for (int a = 0; a <= rows; a++)
                    {
                        <tr>
                            @for (int b = 0; b <= 5; b++)
                            {
                                <td>aaa</td>
                                index=index+1;
                            }
                            
                        </tr>
                    }

            </table>

    }

