@model Garage2._0.Models.Vehicle

@{
    ViewBag.Title = "Check Out A Vehicle";
}

<br />

<div class="well">

    <h2>Check Out A Vehicle</h2>

    <h3>Are you sure you want to check out the vehicle?</h3>
    <div>
        <h4>Vehicle</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Member.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Member.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VehicleType.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VehicleType.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RegNum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RegNum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Color)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Color)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CheckInTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CheckInTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumOfTires)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumOfTires)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Model)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Model)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ParkingSpaceNum)
            </dt>

            <dd>
                @ViewBag.ParkingPosition
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Check Out" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>