@model IEnumerable<Garage2._0.Models.Vehicle>

@{
    ViewBag.Title = "List of Parked Vehicle";
}

<br />

<div class="well">

    <h2>List of Parked Vehicle</h2>

    <p>
        @Html.ActionLink("Park New Vehicle", "Create", null, new { @class = "btn btn-danger btn-large" })
    </p>
    <table class="table">
        <tr>
            <th>
                <span>Owner</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckInTime)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckInTime)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Check Out", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>