@{ 
    var applicationName = "Garage 2.5";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@applicationName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(applicationName, "Index", "Vehicles1", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("List of Vehicles in Detail", "ViewInDetail", "Vehicles1")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Statistics", "Statistics", "Vehicles1")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Garage Overview", "AdvancedView", "Vehicles1")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("List of Members", "Index", "Members")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @applicationName</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.order.js")
    @RenderSection("scripts", required: false)
</body>
</html>
